GROQ_API_KEY=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
POSTGRES_URI=postgresql://user:password@localhost:5432/sentinel_db
POSTGRES_URI=postgresql://user:password@localhost:5432/sentinel_db
